<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close('cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Add Announcement</h3>
      </div>
      <div class="modal-body">
          <strong>Subject:</strong>
          <input type="text" style = "width: 70vh;" class="form-control" ng-model = "announcement.subject">
          <br>
          <br>
          <strong>Body:</strong>
          <textarea class="form-control" id="" cols="60" rows="10" ng-model = "announcement.body"></textarea>
      </div>
      <div class = "modal-footer">
        <button ng-click = "close(announcement)" class="btn btn-danger" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>
