<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close('cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{content.subject}}</h4>
         <span style = "opacity: 0.5;">{{content.name}}</span>
      </div>
      <div class="modal-body">
          <p>{{content.body}}</p>

      </div>

      <div class = "modal-footer">
        <span style = "opacity: 0.5; float: left;">File: {{content.file_name}}</span>
        <br>
        <span style = "opacity: 0.5; float: left;">{{content.date|date:'medium'}}</span>
        <button  ng-click="close('delete')" ng-if= "type === 'professor'"data-dismiss="modal" class = "btn btn-warning">Delete</button>
        <button ng-click = "download()" class = " btn btn-success"> Download</button>
        <button  ng-click="close('cancel')" data-dismiss="modal" class = "btn btn-danger">Close</button>
      </div>
    </div>
  </div>
</div>