<div class="container-fluid profile-background" >
  <div  class="row">
    <div class="col-sm-3 col-lg-2">
      <nav class="navbar navbar-default navbar-fixed-side">

          <div class="navbar-header"> 
            <strong class="navbar-brand" id= "nav-header">
              BentoBoard</strong>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only" >Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style = "padding: 0;">
            
            <ul id = "nav-body">
              <li id = "nav-user"> Good {{partOfDay}}, &nbsp; {{name.firstName}} {{name.lastName}}</li>
            
              <li><h4>Your Courses</h4></li>
              <li  class = "nav-content courses" ng-repeat = "class in classes"  ng-click = "classFilter(class); classChange($index)" style = "cursor: pointer;"
              >{{class.name}}
              </li>
              <li class = "nav-content" id = "show"ng-click = "showAll(); classChange(-1)" style = "cursor: pointer; list-style: none;">Show All</li>

              <li id = "nav-logout" ng-click = "logout()" style = "cursor: pointer;"><span class = "glyphicon glyphicon-lock"></span>Logout <br> <br></li>
            </ul>

          </div>
      </nav>
    </div>
  

    <div class = "col-sm-9 col-lg-10">
      <div class="full">
        <div class = "row-fluid">

          <div class=" col-sm-7 col-lg-5 tab-top" >
              <h3 class ="tab-header" > <span class = "glyphicon glyphicon-bullhorn tab-icon"></span> ANNOUNCEMENTS</h3>
              <div id = "tab-announcement" class ="tab-body">
              <ul>
                <li class = "tab-list" style = "list-style: none;"  ng-repeat = "announcement in announcements | filter: criteriaMatch(a) track by $index" ng-click = "showAnnoucementDetailModal(announcement)">
                  <span class = "tab-announcement-subject">{{announcement.subject}}</span>
                  <br> 
                  <span class = "tab-announcement-class">{{announcement.name}}</span>
                  <hr>
                </li>
              </ul>
            </div>
            <div class = "tab-footer change" ng-if = "classID !== undefined && userData.professor_id != null" ng-click = "addAnnouncementModal()"><center><i class="fa fa-plus-circle plus fa-2x" aria-hidden="true"></i></center></div>
          </div>

          <div class=" col-sm-7 col-lg-5 tab-top" >
              <h3 class ="tab-header"  > <span class = "glyphicon glyphicon-folder-open tab-icon"></span> CLASS CONTENT</h3>
              <div id = "tab-content" class ="tab-body">
              <ul>
                <li class = "tab-list" style = "list-style: none;"  ng-repeat = "content in contents | filter: criteriaMatch(a) track by $index" ng-click = "showContentDetailModal(content)">
                  <span class = "tab-announcement-subject">{{content.subject}}</span>
                  <br> 
                  <span class = "tab-announcement-class">{{content.name}}</span>
                  <hr>
                </li>
              </ul>
            </div>
            <div class = "tab-footer change" ng-if = "classID !== undefined && userData.professor_id != null" ng-click = "addContentModal()"><center><i class="fa fa-plus-circle plus fa-2x" aria-hidden="true"></i></center></div>
          </div>

          <div class=" col-sm-7 col-lg-5 tab-top" >
              <h3 class ="tab-header" > <span class = "glyphicon glyphicon-pencil tab-icon"></span>ASSIGNMENTS</h3>
              <div id = "tab-assignment" class ="tab-body">
              <ul>
                <li class = "tab-list" style = "list-style: none;"  ng-repeat = "assignment in assignments | filter: criteriaMatch(a) track by $index" ng-click = "showAssignmentDetailModal(assignment)">
                  <span class = "tab-announcement-subject"><i class="fa fa-file-text-o fa-lg" style = "float: right; padding: 10px;"aria-hidden="true" ng-show = "assignment.file_name != null"></i>{{assignment.assignment_name}}</span>
                  <br> 
                  <span class = "tab-announcement-class">{{assignment.name}}</span>
                  <hr>

                
                </li>
              </ul>
            </div>
            <div class = "tab-footer change" ng-if = "classID !== undefined && userData.professor_id != null" ng-click = "addAssignmentModal()"><center><i class="fa fa-plus-circle plus fa-2x" aria-hidden="true"></i></center></div>
          </div>


          <div class=" col-sm-7 col-lg-5 tab-top" >
              <h3 class ="tab-header" > <span class = "glyphicon glyphicon-list-alt tab-icon"></span>GRADES</h3>
              <div id = "tab-grade" class ="tab-body">
              <ul>
                <li class = "tab-list" style = "list-style: none;"  ng-repeat = "announcement in announcements | filter: criteriaMatch(a) track by $index" ng-click = "showDetailModal(announcement)">
                  <span class = "tab-announcement-subject">{{announcement.subject}}</span>
                  <br> 
                  <span class = "tab-announcement-class">{{announcement.name}}</span>
                  <hr>
                </li>
              </ul>
            </div>
            <div class = "tab-footer change" ng-if = "classID !== undefined && userData.professor_id != null" ng-click = "showModal()"><center><i class="fa fa-plus-circle plus fa-2x" aria-hidden="true"></i></center></div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
